.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 0 10px;
    grid-auto-rows: 10px;
}

.image-list .image-card {
    position: relative;
    overflow: hidden;
}

.image-list .image-card img{
    width: 100%;
    grid-row-end: span 2
}

.image-list .image-card .image-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    color: white;
    transition: .3s all ease-in-out;
    animation: side;
}

.image-list .image-card .image-content:hover {
    opacity: 1;
}

@keyframes side {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
        
    }
}