.videos-content {
    display: flex;
    margin-top: 40px;
}

.videos-content .video-detail {
    margin-right: 50px;
    max-width: 480px;
}

.videos-content .video-detail img{
    max-width: 480px;
}

.videos-content .videos-list {
    margin: 0;
}

.videos-content .video-item {
    display: flex !important;
    margin-left: 10px;
    cursor: pointer;
}

.videos-content .video-item img {
    margin-right: 30px;
}