.songs-list .songs-item {
     display: flex;
     align-items: center;
     padding: 5px 10px;
     border-top: 1px solid #ccc;
}

.songs-list .songs-item:last-child {
    border-bottom: 1px solid #ccc;
}

.songs-list .songs-item .song-title {
    flex: 1;
    margin: 0;
}

.songs-list .songs-item button {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
}

.songs-list .songs-item button:hover {
    border-color: blue;
    color: white;
    background-color: blue;
}